<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.LianTong.flinkBatchPractice.readText.sinkAsText_MyBatis.mapper.mapper">

    <insert id="insertToMysql" parameterType="com.LianTong.flinkBatchPractice.readText.sinkAsText_MyBatis.Bean.Province">
        INSERT INTO 省分_产品id(省分, 产品ID, 总数, arup值总和,平均arup值)
         VALUES(#{provinceName}, #{productID}, #{count}, #{sumOfArup}, #{avgOfArup});
    </insert>

</mapper>